<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.history.quiz.mapper.QuizMapper">
	<select id="findQuizzes" resultType="com.ssafy.history.quiz.dto.QuizDto">
		
		SELECT * FROM quiz
    	ORDER BY quiz_id DESC
    	LIMIT #{limit}
    	OFFSET #{offset}
		
		 </select>

	<select id="findQuizById" resultType="com.ssafy.history.quiz.dto.QuizDto">
		SELECT *
		FROM quiz
		WHERE quiz_id = #{quizId}
	</select>

	<select id="findTagsByQuizId"
		resultType="com.ssafy.history.history.dto.QuizRegionTagDto">
		SELECT quiz_region_tags_id, tag_name, region_id, quiz_id
		FROM quiz_region_tags 
		WHERE quiz_id = #{quizId}
	</select>

	<select id="findRandomQuizByRegion"
		resultType="com.ssafy.history.quiz.dto.QuizDto"> 
		SELECT DISTINCT q.*
		FROM regions r JOIN quiz_region_tags qrt ON r.region_id =
		qrt.region_id JOIN quiz q
		ON qrt.quiz_id = q.quiz_id <where>
			<if test="#{sidoCode}!=null">
				r.sido_code = #{sidoCode}
			</if>
			<if test="#{gugunCode}!=null">
				AND r.gugun_code = #{gugunCode}
			</if>
		</where>
	</select>

	<insert id="insertQuizResult">
		INSERT INTO quiz_results (
		quiz_id,
		user_id,
		user_answer,
		is_correct,
		solved_at
		)
		VALUES (
		#{quizId},
		#{userId},
		#{userAnswer},
		#{isCorrect},
		NOW()
		)
	</insert>

</mapper>
